body {
    text-align: center;
    background-color: navy;
    color:black; 
    font-family: Arial;
}

hr {
    max-width: 500px;
    height: 5px;
    border: white;
    background-color: white;
}
button {
  font-size: 20px;
}

#resetButton {
  display: flex;
  justify-content: center;
}


#flex-container {
  width: 600px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board {
    display: grid;
    align-items: center;
    gap: 4px 4px;
    grid-template-columns: auto auto auto ;
    background-color: #624cdf;
    padding: 5px;
    width: 300px;
    height: 300px; 
  }
  
  .boardItem {
    background-color: rgb(180, 168, 192);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 0px;
  }